/*
	COLOUR PALETTE

	White        #fff;
	Red          #c54b3c
    Navy         #393b47;
	Off-Black    #2b2e37;
*/

body {

	font-family: 'Assistant', sans-serif;
	background-color: #393b47;
	color: #fff;
}

h1,
h2,
h3 {
	font-weight: 200;
	text-transform: uppercase;
	padding: 1rem 0;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.2;
	margin-left: 1.5rem;
}

a {
	color: #fff;
}

header {
	background-color: #c54b3c;
	display: flex;
}

header img {
	width: 3.75rem;
	height: 3.75rem;
}



section {
	/* 	background-color: #fff; */
	border-radius: .5rem;
	background: #ffffff;
}

section h3,
p {
	color: #2b2e37;
}


aside {
	border-radius: .5rem;
	background-color: #2b2e37;
}

aside p {
	color: #fff;
}

footer {
	background-color: #2b2e37;
	margin-top: 1.5rem;
	padding: 0.6rem;
}

footer p {
	text-align: center;
	justify-items: center;
	color: #fff;
}





/* Mobile View */
@media screen and (min-width: 520px) {
	section img {
		width: 9.375rem;
		height: 7.5rem;
	}

	main h2{
		margin-top: 1.6rem;
		padding: 1rem;
	}

	section {
		padding: 0.5rem;
		display: flex;
		column-gap: 0.5rem;
		align-items: center;
		margin: 1rem;
	}

	aside {
		padding: 0.5rem;
		margin-top: 1rem;
		margin: 1rem;
		padding-bottom: 1.6rem;
	}
}


/* Medium View */
@media screen and (min-width: 800px) {
	header {
		background-color: #c54b3c;
		display: flex;
		text-align: center;
		justify-content: center;
	}		

	section img {
		width: 23.125rem;
		height: 18.75rem;
	}
	section{
		width: 360px;
  		flex-direction: column;
	}

	section div{
		width: 20rem;
	}
	.flex-container /* sections */{
		display: flex;
		flex-wrap: wrap;
	}

	.wide-flex /* with aside */{		
		display: flex;
		flex-direction: row;
	} 

	aside{
		width: 33%;
	}

}



/* Largest View  DID NOT DO FULL SCREEN SOORY*/
@media screen and (min-width: 1024px) {
	header {
		background-color: #c54b3c;
		display: flex;
		text-align: center;
		justify-content: center;
	}

	section img {
		width: 31.25rem;
		height: 25rem;
	}
}
